<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="dotnet core" value="https://dotnet.myget.org/F/dotnet-core/" />
    <add key="aspnet core" value="http://myget.org/F/aspnetrtm/" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>